<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>

    <div class="container body-content">
        <div class="row">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action("Index", "Customer")">
                            <span class="glyphicon glyphicon-user"></span>
                            客户管理
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Project")">
                            <span class="glyphicon glyphicon-list-alt"></span>
                            项目管理
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Permission")">
                            <span class="glyphicon glyphicon-wrench"></span>
                            权限管理
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Summary", "Customer")">
                            <span class="glyphicon glyphicon-list"></span>
                            汇总记录
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
